body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eae3e3;
    color: #333;
}

header {
    background-color: transparent; 
    color: #333;
    text-align: center;
    padding: 0.5em 0; 
}

h1, h2 {
    color: #333;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p {
    margin-bottom: 20px;
}


h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1em;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


body {
    overflow-x: hidden; 
}

header {
    text-align: center;
    position: relative;
}

header::before,
header::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #000; 
}

header::before {
    left: 0; 
    transform: translateX(-50%);
    width: 80%; 
}

header::after {
    right: 0;
    transform: translateX(50%);
    width: 80%; 
}
